# Ignore icon files
**.ico

# Ignore windows executables and dll's wherever they are found
**.exe
**.dll

# Ignore all compiled Mach4 scripts
**.mcc

# Ignore all binary data files
**.dat

# Ignore all the following Subdirectories
/CrashReports
/Docs
/GcodeFiles
/Lang
/Licenses
/LuaExamples
/Modules
/Plugins
/Profiles/BuildBugCNC/Backups/
/Profiles/Mach4_Tangential_BETA/
/Profiles/Mach4Lathe/
/Profiles/Mach4Mill/
/Profiles/Mach4Mill_6Axis/
/Profiles/Mach4Router/
/Profiles/PMDX-424-Sample/
/Profiles/PMDX-Sample/
/Profiles/TestProfile/
/Pmc
/Subroutines
/Screens/Blank.set
/Screens/Engrave_Marking.set
/Screens/OrthMill.set
/Screens/wx4.set
/Screens/wx4_Tangential.set
/Screens/wx6.set
/Screens/wxLathe.set
/Screens/wxMach.set
/Screens/wxMinimal.set
/Screens/wxRouter.set
/Wizards
/ZeroBraneStudio

